<div class="root-highlights-partial">
  <div class="highlights-partial">
    <section-title
      title="Portfolio"
      subtitle="Cutting Edge Software Development"
    />
    <div class="content">
      <div class="grid">
        <div class="item">
          <section-highlight
            title="Blockchain"
            promo="Building excellent Distributed Apps based on Ethereum and Bitcoin blockchains: Wallets, Exchanges, Registries."
            :counters="[
              { name: 'engineers', label: 'Qualified Engineers', value: 10 },
              { name: 'projects', label: 'Succeed Projects', value: 3 },
            ]"
            :tags="[
              { name: 'ethereum', label: 'Ethereum' },
              { name: 'web3', label: 'Web3' },
              { name: 'solidity', label: 'Solidity' },
              { name: 'bitcoin', label: 'Bitcoin' },
              { name: 'plasma', label: 'Plasma' },
              { name: 'dapps', label: 'DApps' }
            ]"
          />
        </div>
        <div class="item">
          <section-highlight
            title="Machine Learning"
            promo="Mastering innovations in Data Analysis, Machine Learning, Predictive Analytics, and Cloud Computing."
            :counters="[
              { name: 'engineers', label: 'Qualified Engineers', value: 6 },
              { name: 'projects', label: 'Succeed Projects', value: 2 },
            ]"
            :tags="[
              { name: 'ml', label: 'Machine Learning' },
              { name: 'nn', label: 'Neural networks' },
              { name: 'cloud', label: 'Cloud Computing' }
            ]"
          />
        </div>
        <div class="item">
          <section-highlight
            title="Banking"
            promo="Developing reliable, secure and trustworthy software for finance and banking: Accounting, Payment Processing, Enterprise Software."
            :counters="[
              { name: 'engineers', label: 'Qualified Engineers', value: 12 },
              { name: 'projects', label: 'Succeed Projects', value: 2 },
            ]"
            :tags="[
              { name: 'security', label: 'Security' },
              { name: 'fault-tolerance', label: 'Fault-tolerance' },
              { name: 'setup', label: 'Trusted Setup' },
              { name: 'support', label: 'Customer Support' }
            ]"
          />
        </div>
      </div>
    </div>
  </div>
</div>
