<div class="root-footer-partial elevation-1">
  <div class="footer-partial">
    <div class="head">
      <h3>
        <atom-logo />
      </h3>
    </div>
    <div class="body">
      <ul class="hidden-md-and-down">
        <li><a href="#about" @click.prevent="handleScrollToSelector('#about')">About</a></li>
        <li><a href="#pricing" @click.prevent="handleScrollToSelector('#pricing')">Pricing</a></li>
        <li><a href="#portfolio" @click.prevent="handleScrollToSelector('#portfolio')">Portfolio</a></li>
        <li><a href="#services" @click.prevent="handleScrollToSelector('#services')">Services</a></li>
        <li><a href="#team" @click.prevent="handleScrollToSelector('#team')">Team</a></li>
        <li><a href="#contacts" @click.prevent="handleScrollToSelector('#contacts')">Contacts</a></li>
      </ul>
    </div>
    <div class="foot">
      <div class="contact">+ 1 415 886-1860</div>
    </div>
  </div>
</div>
