@import 'src/styles/mixins';
@import 'src/styles/variables';

.root-footer-partial {
  position: relative;
  z-index: 1000;
  .footer-partial {
    background: $background-color-light;
    padding: 2rem;
    text-align: center;

    .head {
      display: flex;
      justify-content: center;
      h3 {
        font-size: 1.5rem;
        font-weight: 300;
        @include screen-min-width (1024px) {
          font-size: 2rem;
        }
      }
    }
    .body {
      margin: .5rem 0;
    }
    .foot {
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      list-style: none;
      font-size: .9rem;
      li {
        flex: 0 0 auto;
        margin: 0;
        padding: 1rem;
        >a {
          color: $color-white;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .contact {
      font-size: 1.5rem;
      font-weight: 300;
      @include screen-min-width (1024px) {
        font-size: 2rem;
      }
    }
  }
}
