@import 'src/styles/mixins';
@import 'src/styles/variables';

$section-padding: 1rem;
$section-padding-small: .5rem;

.root-members-partial {
  .members-partial {
    margin: 0 auto;
    max-width: $content-max-width;
    padding: 0 1rem;
    @include screen-min-width (1024px) {
      padding: 0 5rem;
    }
    .content {
      padding: 1rem;
      @include screen-min-width (1024px) {
        padding: 3rem
      }
      .block {
        display: flex;
        margin: 0 0 $section-padding;
        .align-center {
          display: flex;
          width: 100%;
          justify-content: center;
          >* {
            flex: 0 0 auto;
          }
        }
        .grid {
          display: flex;
          position: relative;
          margin: -$section-padding-small;
          flex-wrap: wrap;
          justify-content: center;
          .item {
            flex: 1 1 18%;
            min-width: 120px;
            margin: $section-padding-small;
            display: flex;
            >* {
              flex: 1 1 auto;
            }
          }
          @include screen-min-width (1024px) {
            padding: -$section-padding;
            .item {
              margin: $section-padding;
              min-width: 160px;
            }
          }
        }
      }
    }
  }
}
