@import 'src/styles/mixins';
@import 'src/styles/variables';

.root-section-person {
  display: flex;
  .section-person {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid transparent;
    .head {
      flex: 0 0 auto;
      .head-image {
        @include aspect-ratio(1, 1);
        width: 160px;
        overflow: hidden;
        border-radius: 9999px;
        background: $background-color-main;
        margin: 0 auto;
        img {
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
    .body {
      padding: 1.2rem;
      flex: 1 1 auto;
      text-align: center;
      .body-title {
        color: $color-accent;
        font-size: 1.3rem;
        line-height: 1.6rem;
        font-weight: 100;
        margin-bottom: .3rem;
      }
      .body-subtitle {
        color: $color-white;
        margin: .5rem 0;
        font-size: .9rem;
      }
    }
  }
}
