<div class="root-contacts-partial">
  <div class="contacts-partial">
    <section-title
      title="Contacts"
      subtitle="We are ready to support your business worldwide"
    />
    <div class="content">
      <div class="grid">
        <div class="item">
          <div class="group">
            <div class="head">
              <svgicon class="title-icon" name="contact-telegram" />
              <span class="title-label">Telegram</span>
            </div>
            <div class="body">
              <div class="row">
                <div class="contact-label">
                  Igor Pavlenko
                </div>
                <div class="contact-value">
                  <a href="https://t.me/ipavlenko">@ipavlenko</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="group">
            <div class="head">
              <svgicon class="title-icon" name="contact-phone" />
              <span class="title-label">Phone</span>
            </div>
            <div class="body">
              <div class="row">
                <div class="contact-label">
                  United States
                </div>
                <div class="contact-value">
                  + 1 415 886-1860
                </div>
              </div>
              <div class="row">
                <div class="contact-label">
                  Russia
                </div>
                <div class="contact-value">
                  + 7 963 089-3483
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="group">
            <div class="head">
              <svgicon class="title-icon" name="contact-mail" />
              <span class="title-label">Mail</span>
            </div>
            <div class="body">
              <div class="row">
                <div class="contact-label">
                  Igor Pavlenko
                </div>
                <div class="contact-value">
                  <a href="mailto:i.pavlenko@southhillslab.com">i.pavlenko@southhillslab.com</a>
                </div>
              </div>
              <div class="row">
                <div class="contact-label">
                  Steve Leskiv
                </div>
                <div class="contact-value">
                  <a href="mailto:s.leskiv@southhillslab.com">s.leskiv@southhillslab.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
