<div class="root-header-partial elevation-1">
  <div class="header-partial">
    <div class="content">
      <div class="item-brand">
        <h3>
           <atom-logo />
        </h3>
      </div>
      <div class="item-divider"></div>
      <div class="item-menu hidden-md-and-down">
        <ul>
          <li><a href="#about" @click.prevent="handleScrollToSelector('#about')">About</a></li>
          <li><a href="#pricing" @click.prevent="handleScrollToSelector('#pricing')">Pricing</a></li>
          <li><a href="#portfolio" @click.prevent="handleScrollToSelector('#portfolio')">Portfolio</a></li>
          <li><a href="#services" @click.prevent="handleScrollToSelector('#services')">Services</a></li>
          <li><a href="#team" @click.prevent="handleScrollToSelector('#team')">Team</a></li>
          <li><a href="#contacts" @click.prevent="handleScrollToSelector('#contacts')">Contacts</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
