@import 'src/styles/mixins';
@import 'src/styles/variables';

.root-header-partial {
  // height: 90px;
  .header-partial {
    // position: fixed;
    // left: 0;
    // right: 0;
    // height: 90px;
    // z-index: 100;
    .content {
      margin: 0 auto;
      max-width: 1200px;
      background: $background-color-light;
      padding: 1.5rem 5rem;
      display: flex;
      align-items: center;

      .item {
        &-brand {
          flex: 0 0 auto;
          h3 {
            font-size: 2rem;
            font-weight: 300;
          }
        }
        &-divider {
          flex: 1 1 auto;
        }
        &-menu {
          flex: 0 0 auto;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        list-style: none;
        font-size: .9rem;
        li {
          flex: 0 0 auto;
          margin: 0;
          padding: 1rem;
          >a {
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

// :global(html:not([data-scroll='0'])) {
//   .root-header-partial {
//     .header-partial {
//       .content {
//         box-shadow: $box-shadow-main;
//       }
//     }
//   }
// }
