@import 'src/styles/mixins';
@import 'src/styles/variables';

.root-header-partial {
  // height: 90px;
  position: relative;
  z-index: 1000;
  .header-partial {
    .content {
      margin: 0 auto;
      max-width: $site-max-width;
      background: $background-color-light;
      // background: $;
      padding: 1.5rem 3rem;
      display: flex;
      align-items: center;
      @include screen-min-width (1024px) {
        padding: 1.5rem 5rem;
      }
      .item {
        &-brand {
          flex: 0 0 auto;
          display: flex;
          align-items: center;
          h3 {
            font-size: 2rem;
          }
        }
        &-divider {
          flex: 1 1 auto;
        }
        &-menu {
          flex: 0 0 auto;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        list-style: none;
        font-size: .9rem;
        li {
          flex: 0 0 auto;
          margin: 0;
          padding: 1rem;
          >a {
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

// :global(html:not([data-scroll='0'])) {
//   .root-header-partial {
//     .header-partial {
//       .content {
//         box-shadow: $box-shadow-main;
//       }
//     }
//   }
// }
