<div class="root-header-partial elevation-1">
  <div class="header-partial">
    <div class="content">
      <div class="item-brand">
        <h3>
           <atom-logo />
        </h3>
      </div>
      <div class="item-divider"></div>
      <div class="item-menu hidden-sm-and-down">
        <ul>
          <li><router-link to="/#about">About</router-link></li>
          <li><router-link to="/#pricing">Pricing</router-link></li>
          <li><router-link to="/#portfolio">Portfolio</router-link></li>
          <li><router-link to="/#services">Services</router-link></li>
          <li><router-link to="/#team">Team</router-link></li>
          <li><router-link to="/#contacts">Contacts</router-link></li>
        </ul>
      </div>
    </div>
  </div>
</div>
