<div class="root-header-partial">
  <div class="header-partial">
    <div class="content">
      <div class="item-brand">
        <h3>South Hills Lab</h3>
      </div>
      <div class="item-divider"></div>
      <div class="item-menu">
        <ul>
          <li><a href="#about" @click.prevent="handleScrollToSelector('#about')">About</a></li>
          <li><a href="#offers" @click.prevent="handleScrollToSelector('#offers')">Offers</a></li>
          <li><a href="#highlights" @click.prevent="handleScrollToSelector('#highlights')">Highlights</a></li>
          <li><a href="#services" @click.prevent="handleScrollToSelector('#services')">Services</a></li>
          <li><a href="#team" @click.prevent="handleScrollToSelector('#team')">Team</a></li>
          <li><a href="#contacts" @click.prevent="handleScrollToSelector('#contacts')">Contacts</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
