@import 'src/styles/mixins';
@import 'src/styles/variables';

.root-section-highlight {
  .section-highlight {
    .row {
      &-title {
        color: #5AFBBA;
        font-size: 2.2rem;
        font-weight: 300;
        margin-bottom: .3rem;
        white-space: nowrap;
      }
      &-promo {
        color: #FFFFFF;
        margin: .5rem 0;
      }
      &-counters {
        margin: .5rem 0 1rem;
        .counters {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          .counter {
            flex: 0 0 auto;
            margin-right: 2rem;
            color: #FFFFFF;
            &-value {
              font-size: 2.4rem;
              font-weight: 100;
              line-height: 2.8rem;
            }
            &-label {
              color: rgba(#FFFFFF, .5);
              font-size: .8rem;
              line-height: 1rem;
              max-width: 60px;
            }
          }
        }
      }
      &-tags {
        margin: .5rem 0;
        .tags {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          .tag {
            flex: 0 0 auto;
            flex-wrap: wrap;
            margin: 0 .5rem .5rem 0;
            line-height: 1.6rem;
            color: #FFFFFF;
            border: 1px solid #5AFBBA;
            border-radius: 999px;
            &-label {
              font-size: .8rem;
              padding: 0 .5rem;
              white-space: nowrap;
            }
            &:hover {
              color: black;
              background-color: #5AFBBA;
            }
          }
        }
      }
    }
  }
}
