@import 'src/styles/mixins';
@import 'src/styles/variables';

.root-section-title {
  box-sizing: border-box;
  border-left: 4px solid #5AFBBA;
  padding: 13px 15px 17px 15px;
  @include screen-min-width (1024px) {
    padding: 13px 35px 17px 35px;
  }
  .section-title {
    .row {
      &-title {
        color: #5AFBBA;
        text-transform: uppercase;
        font-size: .8rem;
        margin-bottom: .3rem;
      }
      &-subtitle {
        color: #FFFFFF;
        text-transform: uppercase;
        max-width: 600px;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.8rem;
        @include screen-min-width (1024px) {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }
    }
  }
}
