<div class="root-offers-partial">
  <div class="offers-partial">
    <section-title
      title="Pricing"
      subtitle="We offer solutions tailored to your specific business needs"
    />
    <div class="content">
      <div class="grid">
        <div class="item">
          <section-offer
            title="Hire an Engineer"
            promo="Hire our professionals. We have expertise in Java, Spring, JavaScript, React, Vue, HTML5, SASS/SCSS, LESS, Python, ML, QA"
            :metrics="[
              { id: 1, text: 'From $18/hour' }
            ]"
            details="Create a task and we will deliver estimations, timely completion and guaranteed quality."
          />
        </div>
        <div class="item">
          <section-offer
            title="Hire a Team"
            promo="Hire a kick-ass agile team with professional project manager, strong tech lead, great developers and experienced QA."
            :metrics="[
              { id: 1, text: 'From $22000/month' },
              { id: 2, text: 'From 5 professionals' }
            ]"
            details="Our experts will help you plan, architect and develop any project."
          />
        </div>
        <div class="item">
          <section-offer
            is-highlighted
            title="Make Magic"
            promo="Implement any of your ideas with our team. We can do all the job from UI/UX through development and testing to production installation."
            :metrics="[
              { id: 1, text: 'From $100000/project' },
              { id: 2, text: 'From 6 months' }
            ]"
            details="We offer an end-to-end custom solution. From design to production deployment and maintenance. Provide an idea and we will make it happen."
          />
        </div>
        <div class="item">
          <section-offer
            title="Support Legacy"
            promo="We can take care of your legacy code and provide inexpensive technical support to your users."
            :metrics="[
              { id: 1, text: 'From $20/hour' }
            ]"
            details="Entrust us your existing project. No matter how big or old your project, we take care of it."
          />
        </div>
      </div>
    </div>
  </div>
</div>
