<div class="root-services-partial">
  <div class="services-partial">
    <section-title
      title="Services"
      subtitle="We are IT company with unlimited capabilities"
    />
    <div class="content">
      <div class="grid">
        <div class="item">
          <section-service
            image-url="/assets/img/01.jpg"
            title="Web Development"
            promo="Excellent design and development using modern technologies. React, Vue, SASS/SCSS, HTML5."
          />
        </div>
        <div class="item">
          <section-service
            image-url="/assets/img/02.jpg"
            title="Mobile Development"
            promo="Modern mobile application development using React Native and Vue Native frameworks."
          />
        </div>
        <div class="item">
          <section-service
            image-url="/assets/img/03.jpg"
            title="Software Development"
            promo="High quality development of server-side applications using Java, .Net, Python, NodeJS and PHP."
          />
        </div>
        <div class="item">
          <section-service
            image-url="/assets/img/04.jpg"
            title="Software Quality Assurance"
            promo="Manual and automated testing. Developing test plans, reporting to issue trackers, collaborating with developers."
          />
        </div>
        <div class="item">
          <section-service
            image-url="/assets/img/05.jpg"
            title="Data Integration"
            promo="Database design and data integration using PostgreSQL, Oracle, MySQL, MSSQL, DB2, MongoDB, Hadoop, .etc."
          />
        </div>
        <div class="item">
          <section-service
            image-url="/assets/img/06.jpg"
            title="IT Security Audit"
            promo="Checking your software and infrastructure for vulnerabilities, security and performance audit."
          />
        </div>
      </div>
    </div>
  </div>
</div>
